<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>TRACKING_ID</key>
	<string>UA-89851586-2</string>
	<key>CLIENT_ID</key>
	<string>784956435983-smds4v8uk9g8nhvbr22hof7l040rs2b6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784956435983-smds4v8uk9g8nhvbr22hof7l040rs2b6</string>
	<key>API_KEY</key>
	<string>AIzaSyBxUDPDuY1qRomaqe9efw3GCgNpNR12Evo</string>
	<key>GCM_SENDER_ID</key>
	<string>784956435983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amit.ypsilon</string>
	<key>PROJECT_ID</key>
	<string>inspiring-tower-125705</string>
	<key>STORAGE_BUCKET</key>
	<string>inspiring-tower-125705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:784956435983:ios:482178201ec95abf</string>
	<key>DATABASE_URL</key>
	<string>https://inspiring-tower-125705.firebaseio.com</string>
</dict>
</plist>